/* General Reset and Base Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.livvic-thin {
    font-family: "Livvic", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.livvic-extralight {
    font-family: "Livvic", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.livvic-light {
    font-family: "Livvic", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.livvic-regular {
    font-family: "Livvic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.livvic-medium {
    font-family: "Livvic", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.livvic-semibold {
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.livvic-bold {
    font-family: "Livvic", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.livvic-black {
    font-family: "Livvic", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.livvic-thin-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.livvic-extralight-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.livvic-light-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.livvic-regular-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.livvic-medium-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.livvic-semibold-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.livvic-bold-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.livvic-black-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 900;
    font-style: italic;
}

:root {
    --primary-color-1: #014e56;
    /* Midnight Green */
    --primary-color-2: #f67e7e;
    /* Light Coral */
    --primary-color-3: #ffffff;
    /* white */
    --secondary-color-1: #79c8c7;
    /* Rapture Blue */
    --secondary-color-2: #2c6269;
    /* Police Blue */
    --secondary-color-3: #004047;
    /* Deep Jungle Green */
    --secondary-color-4: #012f34;
    /* Sacramento State Green */
    --secondary-color-5: #002529;
    /* Dark Green */
    --font-family: "Livvic", sans-serif;
    --font-size-base: 18px;
}

/* Base typography styles */
body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--primary-color-1);
    color: var(--primary-color-3);
    margin: 0;
    padding: 0;
}

/* Links */
a {
    color: var(--primary-color-3);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

li {
    list-style: none;
}

a:hover {
    color: var(--primary-color-2);
}

/* Button styles */
/* Button Styling */
button,
.contact-button,
.cta-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 32px;
    border: 2px solid var(--primary-color-3);
    border-radius: 24px;
    font-size: var(--font-size-base);
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

button:hover,
.contact-button:hover {
    background-color: var(--primary-color-3);
    color: var(--primary-color-1);
}

/* Container Styling */
.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

/* Header Styling */
.header {
    margin-top: 73px;
}

.header .container,
.hero .container,
#about .container,
.features .container {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    gap: 80px;
    align-items: start;
}

.header nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.hamburger-menu {
    display: none;
}

picture,
.logo,
.logo img {
    display: inline-block;
    height: 32px;
}

.hero {
    margin: 129px 0 250px;
}

.hero h1 {
    font-size: 100px;
    line-height: 100px;
    text-align: start;
    max-width: 620px;
    width: 100%;
    position: relative;
}

.hero h1::before {
    content: url(./images/hero-asset1.svg);
    position: absolute;
    left: -265px;
    /* mask-image: linear-gradient(to left, black 50%, transparent 50%) */
}

.hero h1 span {
    color: var(--primary-color-2);
}

.rectangle-line {
    width: 50px;
    height: 4px;
    background-color: var(--secondary-color-1);
}

.hero-right,
.features-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.hero-right::after {
    content: url(./images/hero-asset-2.svg);
    position: absolute;
    top: 350px;
    z-index: -1;

}

.hero p {
    max-width: 445px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

/*FEATURES */

.features {
    background-color: var(--secondary-color-4);
    padding-block: 140px;
}

/* .features-left::before {
    content: url(./images/features-asset1.svg);
    position: absolute;
    right: -860px;
    bottom: -145px;
    z-index: 0;
} */

.features .rectangle-line,
.about-section .rectangle-line {
    background-color: var(--primary-color-2);
}

.features-left {
    gap: 54px;
    justify-content: flex-start;
}

.features h2,
.testimonials h2 {
    max-width: 445px;
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

/* Features section styling */
.features-items {
    display: grid;
    gap: 2rem;
    padding-top: 58px;
    grid-template-rows: repeat(auto-fit, minmax(94px, 1fr));
    max-width: 540px;
    width: 100%;
    justify-items: flex-start;
}

.feature {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: start;
}

.feature-icon img {
    width: 72px;
    height: 72px;
    display: block;
}

.feature-content h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var(--primary-color-2);
    margin-bottom: 10px;
}

.feature-description {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: var(--primary-color-3);
}

/* Accessibility and SEO optimization */
.feature-icon img[alt=""] {
    aria-hidden: true;
}


/* TESTIMONIALS */

.testimonials {
    padding-block: 140px;
}

.testimonials .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.testimonials h2 {
    max-width: 932px;
    width: 100%;
    text-align: center;
}

.testimonials h2 span {
    color: var(--secondary-color-1);
}

.testimonial-items {
    position: relative;
    width: 100%;
    max-width: 1180px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr))
}

.testimonial-items::before {
    content: url(./images/testimonial-asset1.svg);
    position: absolute;
    left: -165px;
    top: -292px;
}

/* .testimonial-items::after {
    content: url(./images/testimonial-asset2.svg);
    position: absolute;
    right: -165px;
    bottom: -250px;
    z-index: -1;
} */

.testimonial-item {
    position: relative;
    text-align: center;
}

.testimonial-item img {
    display: block;
    width: 62px;
    height: 62px;
}

.testimonial-item::before {
    content: url(./images/double-quotation.svg);
    position: absolute;
    z-index: -1;
    top: -32px;
    left: 40%;
}

.testimonial-item blockquote {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    margin-bottom: 24px;
}

.testimonial-item p {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var(--secondary-color-1);
    text-align: center;
}

.testimonial-item span {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 30px;
}

.testimonial-item img {
    display: block;
    margin: 32px auto 0;
}

.cta {
    padding: 76px 58px;
    background-color: var(--primary-color-2);
}

.cta .container {
    display: flex;
    justify-content: space-between;
}

.cta h2::before {
    content: url(./images/cta-asset1.svg);
    position: absolute;
    left: -263px;
    top: -20px;
    z-index: -1;
}

.cta h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: var(--secondary-color-4);
    margin-left: 98px;
    position: relative;
}

.cta-button {
    border-color: var(--secondary-color-4);
    color: var(--secondary-color-4);
    margin-right: 98px;
}

.cta-button:hover {
    border: 2px solid var(--secondary-color-4);
    background-color: var(--secondary-color-4);
    color: var(--primary-color-3);
}

.footer {
    padding-block: 48px;
    background-color: var(--secondary-color-5);
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .logo {
    margin-bottom: 24px;
}

.footer .logo img {
    display: block;
    width: 160px;
    height: 40px;
}

.footer-logo-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav li {
    display: inline;
    margin-right: 40px;
}

.footer address {
    max-width: 445px;
    width: 100%;
    opacity: 0.6;
}

.social-links-rights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}

.social-links-rights p {
    opacity: 0.6;
}

.social-links a {
    margin-left: 16px;
}




/* ABOUR PAGE */

.about-section {
    padding: 120px 0;
}

.about-section h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
}

.about-description {
    max-width: 730px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.about-description p {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

/* 
.about-description::before {
    content: url(./images/about-asset1.svg);
    position: absolute;
    right: -65px;
    top: 76px;
    z-index: -1;
} */



/* DIRECTORS SECTION */

.directors-section {
    background-color: var(--secondary-color-3);
    padding-block: 140px;
}

#directors-title,
#clients-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 64px;
    text-align: center;
}

.directors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 76px;
}

.director-card {
    width: 350px;
    height: 253px;
    background-color: var(--secondary-color-4);
    text-align: center;
    padding: 32px 24px 0;
}

.director-photo {
    display: block;
    width: 96px;
    margin: 0 auto;
}

.director-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var(--secondary-color-1);
    margin-top: 16px;
}

.director-role {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: var(--primary-color-3);
    font-style: italic;
    margin-bottom: 28px;
}

.director-plus {
    display: block;
    width: 16px;
    height: 16px;
}

.more-info-button {
    padding: 20px;
    border-radius: 28px;
    background-color: var(--primary-color-2);
    border: none;
}

.more-info-button:hover {
    background-color: var(--secondary-color-1);
}


/* clients-section */

.clients-section {
    padding-block: 140px;
    background-color: var(--secondary-color-4);
}

.client-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-logo {
    filter: invert(1) brightness(100%) grayscale(100%);
    cursor: pointer;
}




/* CONTACT PAGE */

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 120px;
}

.contact-header {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    width: 100%;
}

#contact-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 16px;
}

.contact-header h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: var(--primary-color-2);
    margin-bottom: 32px;
}

.feature-icon-text {
    display: flex;
    align-items: center;
    gap: 23px;
}

.feature-icon-text p {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.contact-form-section {
    max-width: 540px;
    width: 100%;
}

.contact-form-section label {
    display: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.contact-form input,
.contact-form textarea {
    padding: 0 81px 17px 14px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color-3);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.12px;
    color: var(--primary-color-3);
    font-family: "Livvic",
        sans-serif;
    cursor: pointer;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:active,
.contact-form textarea:active,
.contact-form input:hover,
.contact-form textarea:hover {
    border-bottom: 1px solid var(--secondary-color-1);
}

textarea {
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.submit-button {
    align-self: flex-start;
}

@media (max-width: 1200px) {

    .cta h2,
    .cta-button {
        margin: 0;
    }

    .hero h1::before {
        display: none;
    }

    .hero-right::after {
        left: -90%;
    }
}

@media (max-width: 893px) {
    .hero-right::after {
        top: 450px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 24px;
    }

    .header-left {
        gap: 40px;
    }

    .header nav ul {
        gap: 15px;
        padding: 0;
    }

    .header {
        margin-top: 64px;
    }

    .hero {
        margin-top: 112px;
    }

    .hero h1 {
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
        text-align: center;
        max-width: 395px;
    }

    .hero .container,
    #about .container {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .rectangle-line {
        display: none;
    }

    .hero p {
        max-width: 457px;
        text-align: center;
        font-size: 15px;
    }

    .features {
        padding: 100px 58px;
    }

    .features .container {
        flex-direction: column;
    }

    .features .rectangle-line {
        display: block;
    }

    .features-left {
        gap: 32px;
    }

    .cta .container {
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }

    .footer address {
        max-width: 225px;
    }

    .social-links-rights,
    address {
        margin-top: 24px;
        text-align: start;
    }

    .hero-right::after {
        z-index: -1;
        top: 250px;
        left: 0;
    }

    #main-content {
        flex-direction: column;
        align-items: center;
    }

    #main-content h1,
    #main-content h2 {
        text-align: center;
    }

    .icon-section {
        margin-bottom: 64px;
    }
}

@media (max-width: 565px) {
    .hamburger-menu {
        display: inline-block;
    }

    .header nav,
    .contact-button {
        display: none;
    }

    .header {
        margin-top: 48px;
    }

    .hero {
        margin-top: 80px;
    }

    .hero h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        max-width: 327px;
    }

    .hero .container,
    #about .container {
        gap: 18px;
    }

    .hero p {
        max-width: 327px;
    }
}